<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Hangman</h1>

        <div class="word-display">
            {{range .Letters}}
                <span class="letter">{{.}}</span>
            {{end}}
        </div>
        
        <div class="alphabet">
            {{range $i, $c := "ABCDEFGHIJKLMNOPQRSTUVWXYZ"}}
            <form method="POST" style="display:inline;">
                <input type="hidden" name="letter" value="{{$c}}">
                <button type="submit">{{$c}}</button>
            </form>
            {{end}}
        </div>
        
        
        <img src="/static/images/stage{{.Wrong}}.png" alt="Hangman Stage">
    </div>
</body>
</html>
